

<%= render "shared/notcaroussel" %>

<%
meta :description => "Comparatif de toutes les ailes de kitesurf, prix, avis d'utilisateurs et qualités/défauts",
:keywords => %w(kitesurf ailes comparatif avis défauts)
%>

<h1 class="text-center">Les ailes de kitesurf</h1>

<div id="mycont"> </div>


<br><br>
<div class="countainer-fluid">
	<div class="row-fluid">
		<div class="span2 span-modified-stack">
			<div class="smallmargin">
				<h6>Tri</h6>
				<!-- 	<div class="pull-right" style="padding-right:5%"> -->

					<a class="btn btn-small btn-info boutonsgauche" href="/ailesparprix">Trier par prix</a>

					<a class="btn btn-small btn-info boutonsgauche" href="/ailesparnote">Trier par note</a>
					<h6>Affichage</h6>
					<abbr rel="tooltip" title="Ailes polyvalentes."><a class="btn btn-small btn-info boutonsgauche" href="/ailes-allround">Allround</a></abbr>
					<abbr rel="tooltip" title="Ailes spécialisées dans la navigation en vague : Réactives afin d’être envoyée facilement d’une demi-fenêtre de vol à l’autre, capacité de reculer dans la fenêtre tout en gardant de la tension dans les lignes, redécollage facile et un bon depower pour couper la traction de l’aile lors des virages."><a class="btn btn-small btn-info boutonsgauche" href="/ailes-wave">Wave</a></abbr>
					<abbr rel="tooltip" title="Ailes de course : profils élancés pour réduire au maximum la trainée, facilité pour remonter au vent et vitesse maximale au grand largue vent arrière. Ces ailes sont maniables et réactives pour être relancées dans le vent irrégulier."><a class="btn btn-small btn-info boutonsgauche" href="/ailes-race">Race</a></abbr>
					<abbr rel="tooltip" title="Les ailes de wakestyle sont souvent de purs C-shape à quatre ou cinq lignes.  Ces ailes sont associées aux figures new-school. Les ailes de wakestyle offrent une réactivité moyenne afin de se naviguer en décroché du harnais (déhooké)."><a class="btn btn-small btn-info boutonsgauche" href="/ailes-wakestyle">Wakestyle</a></abbr>

<!--	</div> -->
</div>
</div>
<div class="span10 span-modified-stack">



<% @light=0 %>
<%= render 'thumbnails' %>


</div> <!-- span10 -->
</div>
</div>
