<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand">Comparateur de kite</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/pages/contact">Contact</a></li>
  
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">
    
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
       <h1 class="jetstrap-highlighted">Home</h1>
        <h3>You are in the home page..&nbsp;</h3>
	<a href="/materiels">Voir les matériels disponibles</a>
      </div>

    
      <hr class="">
    
    </div> <!-- /container -->
    

    <style>
      
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
    </style>
    

</body>
