<section class="section" id="section5" data-section="5">
	<br>
	<h3 class="text-center white">Les derniers articles du blog</h3>
	<div class="row-fluid">
		<br>

		<div class="span2 offset2">
			<p>
				<a class="white" href="http://blog.comparekite.com/post/60174714295/acheter-son-aile-de-kitesurf-doccasion-a-quoi-faire">
					Acheter son aile de kitesurf d’occasion, à quoi faire attention ?
				</a>
			</p>
		</div>


		<div class="span2 offset1">
			<p>
				<a class="white" href="http://blog.comparekite.com/post/60160220190/le-lexique-simplifie-du-kitesurf">
					Le lexique simplifié du kitesurf 
				</a>
			</p>
		</div>


		<div class="span2 offset1">
			<p>
				<a class="white" href="http://blog.comparekite.com/post/59183695443/les-clips-des-nouveautes-kitesurf-2014">
					Les clips des nouveautés kitesurf 2014
				</a>
			</p>
		</div>


	</div> <!-- rowfluid -->
</section>
</br>

<style>
a.white {
	color: #1c2e40;
	font-weight:bold;
	line-height: 25px;
}

.section {
	background-attachment: scroll;
	background-position: center top;
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	padding: 0px 15% 15%;
	background: #1abc9c;
	color: #ffffff;
	padding-bottom: 10px;
}
</style>
