<div id="myCarousel" class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<%#= image_tag @image_background, :class => "image_resize" %>
			<div class="image_resize"></div>
			<div class="container">
				<div class="carousel-caption">
					<h1 class="text-center"><%= title_caroussel %></h1>
				</div>
			</div>
		</div>
	</div>
</div>

<% @image_background = "backgrounds/" + (1 + rand(4)).to_s() + ".jpg" %>

<style>

body {
	padding-top: 350px;
}

.navbar {
margin-bottom: 320px;
margin-top: -350px;
margin-right: -20px;
margin-left: -20px;

}

.image_resize{
	height: 300px;
	width: 100%;
	background-size: cover;
	background-image: url(<%= asset_path @image_background %>);
}
.carousel {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}
.carousel-caption {
	color: #ffffff;
	text-shadow: 0 2px 2px rgba(0,0,0,.8);
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}
</style>
