<div id="myCarousel" class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<div class="image_resize"></div>
			<div class="container">
				<div class="carousel-caption">
					<h1 class="text-center"><%= title_caroussel %></h1>
				</div>
			</div>
		</div>
	</div>
</div>


<style type="text/css">
 	<% @image_background = "backgrounds/" + (1 + rand(5)).to_s() + ".jpg" %>

	.image_resize{
		background-image: url(<%= asset_path @image_background %>);

	}
</style>