<hr class="">
<p class="text-center justify footer_text">CompareKite.com est un comparateur de prix et un comparateur de caractéristiques d'ailes de kitesurf lancé en 2013. Il vous permet de comparer des ailes de marques telles que North, F.One, Cabrinha, Slingshot, Naish et Genetrix. Accédez aux critiques et avis des utilisateurs d'ailes de kitesurf du monde entier regroupés sur une unique page. Comparez la facilité d’utilisation, le redécollage, les plages de vent et les capacités en freestyle, waveride ou encore wakestyle de 4 ailes afin de comprendre laquelle vous convient le mieux. Ce site n'est pas seulement destiné aux débutants, mais aussi aux kitesurfeurs confirmés qui souhaitent choisir un kite pour un usage particulier.
Le blog de CompareKite est voué à s’étoffer et propose des articles afin de mieux connaitre l’univers du kitesurf. Dans le futur, vous pourrez également comparer les différentes barres et planches de kitesurf.</p>
<hr class="">
<p class="text-center"><small>Site fraîchement cuisiné par @loic_lwrt et Tobios. <a href="/pages/cgu">CGU</a> et <a href="/pages/mentionslegales">mentions légales</a>.</small></p>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42991077-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
