<%= render "shared/notcaroussel" %>

<% 
@ID=2 #ID de l'aide à changer 
@aile = Aile.find(@ID)
%>

<h1></h1>
<h3>Niveau avancé</h3>

<br>

<div class="hero-unit">
	<div class="page-header">
	  <h1>Example page header <small>Subtext for header</small></h1>
	</div>
	<h3>Aile XX</h3>
	<div class="row">
		<div class="span4">
			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-large.jpg" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
			<%= image_tag @image_url %>
		</div>

		<div class="span8">
			<p class="lead">CACA1 glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijefl</p>
		</div>
	</div>
</div>

<br>

<% 
@ID=4 #ID de l'aide à changer 
@aile = Aile.find(@ID)
%>

<div class="hero-unit">
	<div class="page-header">
	  <h2>Example page header <small>Subtext for header</small></h2>
	</div>
	<h3>Aile XX</h3>
	<div class="row">
		<div class="span4">
			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-large.jpg" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
			<%= image_tag @image_url %>
		</div>

		<div class="span8">
			<p class="lead">CACA2 glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijeflCACA glrzijefl</p>
		</div>
	</div>
</div>

<p>Find me in app/views/pages/recommandations.html.erb</p>

<style>
.row {
	margin-left: auto;
	margin-right: auto;
}
</style>