<%= render "shared/caroussel" %>

<div class="container-fluid">
	<h1>Contact</h1>
	<p class="lead" >Si vous avez une question, si vous voulez nous faire une remarque, ou si tout simplement vous voulez nous contacter, envoyer nous un e-mail à <strong>CompareKite@gmail.com</strong> .</p>
</div>
