<%= render "shared/caroussel", :title_caroussel => @title %>

<div class="container">

	<br>

	<div class="row">
		<div class="span6 offset3">
			<p class="lead justify">
				Pour toute question ou remarque n'hésitez pas à nous contacter à l'adresse suivante: </p>
			</div>
		</div> <!-- rowfluid -->

		<center>
			<a href="mailto:contact@comparekite.com"><button class="btn btn-primary">contact@comparekite.com</button></a>
		</center>

		<br><br>

	</div>
