

<%= render "shared/caroussel" %>

<div class="container-fluid">
	<center>
		<div class="jumbotron">
			<br>
			<h2>Comparez les ailes de kitesurf</h2>
			<br>
			<div class="row-fluid">
				<div class="span6">
					<p class="lead">Le but de ce site web et d'aider tous les riders débutants et confirmés à choisir aile de Kitesurf en fonction de ses nécessités.</p>
				</div>

				<div class="span6">
					<p class="lead">Nous regroupons dans une page pour chaques ailes les avis faits par des utilisateurs.</p>
				</div>
				<div class="span12">
					<a class="btn btn-large btn-success lead" href="/ailes">Comparer les kites</a>
				</div>
			</div> <!-- rowfluid -->
		</div>
	</center>
</div> <!-- /container -->



