<div class="container-fluid">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<center>
		<div class="jumbotron">
			<br>
			<h1>Comparer le matos de kitesurf</h1>
			<br>
			<div class="row-fluid">
				<div class="span6">
				<i class="icon-star-empty"></i><p class="lead">Le but de ce site web et d'aider tous les riders débutants et confirmés à choisir son matériel de Kitesurf en fonction de ses nécessités.</p>
				</div>
				<div class="span6">
				<i class="icon-heart"></i><p class="lead">Le but de ce site web et d'aider tous les riders débutants et confirmés à choisir son matériel de Kitesurf en fonction de ses nécessités.</p>
				</div>
			</div>
			<br>
			<a class="btn btn-large btn-success" href="/materiels">Comparer le matériel</a>
		</div>
	</center>

</div> <!-- /container -->

