
<%= render "shared/caroussel", :title_caroussel => "Comparer les ailes de kitesurf" %>

<div class="container">
	<br>
	<div class="row">
		<div class="span4 offset4">
			<p class="lead justify">
				Il existe plus de 430 ailes de kitesurf. Nous vous aidons à choisir votre prochaine aile en fonction de votre budget et de votre niveau.</p>
			</div>
		</div> <!-- rowfluid -->
	</br>

	<center>
		<a class="btn btn-large btn-success lead" href="/ailes">Comparer toutes les ailes</a>
	</center>

</br></br></br>


<h3 class="text-center">Nos recommandations</h3>
<br>
<div class="row-fluid">
	<center>
		<div class="btn-group">
			<a class="btn btn-large btn-success lead" href="/pages/debutant">Niveau débutant</a>
			<a class="btn btn-large btn-danger lead" href="/pages/avance">&nbsp;&nbsp;Niveau avancé&nbsp;&nbsp;</a>
		</center>
	</div>
</div> <!-- /container -->

<br>



