<div class="container-fluid">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<center>
		<div class="jumbotron">
			<h1>Home</h1>
			<h4>Le but de ce site web et d'aider tous les riders débutants et confirmés à choisir son matériel de kitesurf en fonction de ses nécéssités.&nbsp;</h4>
			<br>
			<a class="btn btn-large btn-success" href="/materiels">Voir le matériel disponibles en test</a>
		</div>
	</center>

</div> <!-- /container -->

