

<%= render "shared/caroussel" %>

<div class="container-fluid">
	<center>
		<div class="jumbotron">
			<br>
			<h2>Comparer les ailes de kitesurf</h2>
			<br>
			<div class="row-fluid">
				<div class="span6">
					<p class="lead">Le but de ce site web est d'aider les riders débutants et confirmés à choisir leur aile de kitesurf.</p>
				</div>

				<div class="span6">
					<p class="lead">TO DO Nous regroupons dans une page pour chaque ailes les avis faits par des utilisateurs.</p>
				</div>

				<div class="lead">

				</div>
				
				</div> <!-- rowfluid -->

				<a class="btn btn-large btn-success lead" href="/ailes">Comparer les kites</a>

				<div class="row-fluid">
				
				</div>
				

		</div> <!-- rowfluid -->
			<br/>
			<br/>
			<br/>

			<h2 class="text-center">Guide d'achat<h2>
			<br/>
			<div class="row-fluid">
			
			<div class="btn-group">
					<a class="btn btn-large btn-success lead" href="/pages/debutant">Débutant</a>
					<a class="btn btn-large btn-danger lead" href="/pages/avance">&nbsp;&nbsp;Avancé&nbsp;&nbsp;</a>
			</div>

			
		</div>
	</center>
</div> <!-- /container -->



