
<%= render "shared/caroussel", :title_caroussel => "Comparer les ailes de kitesurf" %>

<div class="container">
	<br>
	<div class="row-fluid">
		<div class="span4 offset4">
			<p class="lead justify">
				CompareKite est un comparateur d'ailes de kitesurf. Il existe plus de 430 ailes de kite, et nous vous aidons à choisir votre prochaine aile en fonction de votre budget et de votre niveau.</p>
			</div>
		</div> <!-- rowfluid -->
	<br>

	<center>
		<a class="btn btn-large btn-success lead" href="/ailes">Comparer toutes les ailes</a>
	</center>

<br><br><br>


<h3 class="text-center">Nos recommandations</h3>
<br>
<div class="row-fluid">
	<center>
		<div class="btn-group">
			<a class="btn btn-large btn-success lead" href="/pages/debutant">Niveau débutant</a>
			<a class="btn btn-large btn-danger lead" href="/pages/avance">&nbsp;&nbsp;Niveau avancé&nbsp;&nbsp;</a>
		</div>
	</center>
</div> <!-- rowfluid -->
</div> <!-- /container -->


<br><br><br><br>

<%= render "shared/blog" %>

<hr class="">

<p class="text-center justify footer_text">CompareKite.com est un comparateur de prix et un comparateur de caractéristiques d'ailes de kitesurf lancé en 2013. Il vous permet de comparer des ailes de marques telles que Storm, North, F.One, Cabrinha, Slingshot, Naish ou encore Genetrix. Accédez aux critiques et avis des utilisateurs d'ailes de kitesurf du monde entier regroupés sur une unique page. Comparez la facilité d’utilisation, le redécollage, les plages de vent et les capacités en freestyle, waveride ou encore wakestyle de 4 ailes afin de comprendre laquelle vous convient le mieux. Ce site n'est pas seulement destiné aux débutants, mais aussi aux kitesurfeurs confirmés qui souhaitent choisir un kite pour un usage particulier.
Le blog de CompareKite est voué à s’étoffer et propose des articles afin de mieux connaitre l’univers du kitesurf. Dans le futur, vous pourrez également comparer les différentes barres et planches de kitesurf.</p>
