

<%= render "shared/caroussel" %>

<div class="container-fluid">
	<center>
		<div class="jumbotron">
			<br>
			<h2>Comparer les ailes de kitesurf</h2>
			<br>
			<div class="row-fluid">
				<div class="span6">
					<p class="lead">Le but de ce site web est d'aider les riders débutants et confirmés à choisir leur aile de kitesurf.</p>
				</div>

				<div class="span6">
					<p class="lead">TO DO Nous regroupons dans une page pour chaque ailes les avis faits par des utilisateurs.</p>
				</div>

				<div class="span12">
					<a class="btn btn-large btn-success lead" href="/ailes">Comparer les kites</a>
				</div>
				
				</div> <!-- rowfluid -->

<div class="row-fluid">
				<div class="span6">
					<a class="btn btn-info lead" href="/pages/debutant">Nos recommandations <br> Niveau Débutant </a>
				</div>

				<div class="span6">
					Nos recommandations <br>
					<a class="btn btn-large btn-info lead" href="/pages/avance">Niveau Avancé</a>
				</div>

			</div> <!-- rowfluid -->
			
			
		</div>
	</center>
</div> <!-- /container -->



