<%= render "shared/notcaroussel" %>

<div class="container-fluid">
	<h1>Mentions légales</h1>
	<h3>Présentation du site.</h3>
	<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
	<p>Propriétaires : Loic Loewert & Vincent Loewert<br/>
	Créateurs  : Loic Loewert & Vincent Loewert<br/>
	<br/>
	Responsable publication : Vincent Loewert – <a href="mailto:contact@comparekite.com">contact@comparekite.com</a><br/>
	Le responsable publication est une personne physique ou une personne morale.<br>
	<br/>
	Webmaster : Loic Loewert – <a href="mailto:contact@comparekite.com">contact@comparekite.com</a><br/>
	<br/>
	Hébergeur : Outscale – 1, rue Royale - 319 Bureaux de la Colline 92210 Saint-Cloud</p>
</div>
