<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_critique.name %>
</p>

<%= link_to 'Edit', edit_type_critique_path(@type_critique) %> |
<%= link_to 'Back', type_critiques_path %>
