// Place all the styles related to the Ailes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert{
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
}
.mydiv {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	
	padding-left: 20px;
	padding-right: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-top-style: solid;
	border-color: #000000;
	border-width:1px;
	
	
	background-position: center top;

	background: #ffffff;
	color: #000000;
	
	text-align:center;
	z-index:10;

	
}
.thumbnails {
	text-align: center;
}
.thumbnail {
	display: inline-block;
	margin: auto;
	width: 300px;
	position: relative;
	background-color:#ffffff;
	border: 1px solid #fff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);

}
.thumbnails li {
	/*float: none !important;*/
	float: none;
	display: inline-block;
	*display: inline; /* ie7 support */
	zoom: 1;
}

@media screen and (max-width: 768px) {
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
		float: left;
	}

}

.serre {
  line-height: 10px;
}

.plusdemarge {
	padding-left: 2%;
}

.goleft{
	text-align:justify;
}

.desc_officielle{
	padding: 0 0 0 15px;
	margin: 0 0 20px;
 	border-left: 5px solid #ecf0f1;
	text-align:justify;
	margin-bottom: 0;
	padding-right: 10px;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.15;
}

.love{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 13px;
	color: #880000;
}

.bigimage{
	padding-left:3%;
	padding-right:3%;
}

.showaile {
	background-color:#ffffff;
	border: 1px solid #fff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);
	margin-top:-35px;
	margin-left:20px;
	margin-right:20px;
	padding-top:20px;
	padding-bottom:20px;
}

.showprix{
	padding-right:40px;
}

.smallmargin{
	margin-left: 10px;
	margin-right: 10px;	
	padding:5px;
	padding-left: 10px;
	border: 1px solid #fff;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);
	background-color: #ffffff;

}

.boutonsgauche{
	margin:5px;
	width: 79px;
	/*padding: 2px 6px; */
	background-color: #94CBEF;
}

.extrasmall{
	font-size: 9px;
}

.resetbouton{
	background-color: #FFFFFF;
	color: #2c3e50;
	border: 2px solid #DDDDDD;
}

.boutonstests{
 	margin:5px 5px 5px 15px;
	width: 170px;
}



@media screen and (min-width: 968px) {
	.smallmargin{
		width: 95%;
		max-width: 125px;
		}
}

@media screen and (max-width: 968px) {
	.span-modified-stack{
		width: 95% !important;
		}
}



@media screen and (max-width: 767px){
[class*="span"], .row-fluid [class*="span"] {
margin-left: 3%;
}
}

/* Mobile Optimization */

@media screen and (max-width: 500px) {
.showaile {
	margin:0px;
	padding:0;
}
}
