// Place all the styles related to the Compare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#col1 {
    display: inline-block;
    width:50%;
}

#col2 {
    display: inline-block;
	float: right;
    width:50%;
}

