<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @materiel_type.name %>
</p>

<%= link_to 'Edit', edit_materiel_type_path(@materiel_type) %> |
<%= link_to 'Back', materiel_types_path %>
